.navbar.navbar-default.navbar-fixed-top.navbar-inverse
  .container
    ul.nav.navbar-nav.navbar-right

      li(class=(title == 'Home') ? 'active' : undefined)
        a(href='/') Home
      li
        a(href='/product') product
      li(class=(title == 'Contact') ? 'active' : undefined)
        a(href='/contact') Contact
      if !user
        li(class=(title == 'Login') ? 'active' : undefined)
          a(href='/login') Login
        li(class=(title == 'Create Account') ? 'active' : undefined)
          a(href='/signup') Create Account
      else
        li.dropdown(class=(title == 'Account Management') ? 'active' : undefined)
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            if user.profile.picture
              img(src=user.profile.picture)
            else
              img(src=user.gravatar(60))
            span= user.profile.name || user.email || user.id
            i.caret
          ul.dropdown-menu
            li
              a(href='/account') My Account
            li.divider
            li
              a(href='/logout') Logout
div.row(style='background:white;')
  .container
    ul.nav.navbar-nav
      li.dropdown
        a.dropdown-toggle(href='#', data-toggle='dropdown')
          | Categories
          b.caret
        ul.dropdown-menu
          li
            a(href='#') Necklace
          li
            a(href='#') Bracelet
          li
            a(href='#') Ring

    ul.nav.navbar-nav.navbar-right
      li(class=(title == 'Cart') ? 'active' : undefined)
        btn.btn.btn-success(type='button', href='http://www.jquery2dotnet.com')
          span.fa.fa-shopping-cart
            | &nbsp;&nbsp;Cart (1) - $99


    ul
      p(style="text-align:center;color:#980000;font-family: 'Comic Sans MS'; font-size:35px;")
        b
          | The Jewelry Shop

