extends layout

block content
    .container(ng-app='product',ng-controller='productCtrl')
        ul.nav.navbar-nav
            li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                    | Categories
                    b.caret
                ul.dropdown-menu
                    li
                        a(href='#') Necklace
                    li
                        a(href='#') Bracelet
                    li
                        a(href='#') Ring

        ul.nav.navbar-nav.navbar-right
            li(class=(title == 'Cart') ? 'active' : undefined)
                btn.btn.btn-success(type='button', href='http://www.jquery2dotnet.com')
                    span.fa.fa-shopping-cart
                        | &nbsp;&nbsp;Cart ({{cartItems.length}}) - $ {{totalPrice}}


        ul
            p(style="text-align:center;color:#980000;font-family: 'Comic Sans MS'; font-size:35px;")
                b
                    | The Jewelry Shop
        .row
            .col-md-3
                .panel.panel-default
                    .panel-heading
                        h2.panel-title
                            span.fa.fa-plus-square-o
                            | Brand

                    .panel-body
                        ul.list-group
                            li.checkbox.list-group-item
                                label
                                    input(type='checkbox', value='')
                                    | Lia Sophia
                            li.checkbox.list-group-item
                                label
                                    input(type='checkbox', value='')
                                    | Luckey Brand
                            li.checkbox.list-group-item
                                label
                                    input(type='checkbox', value='')
                                    | Kate Spade
                            li.checkbox.list-group-item
                                label
                                    input(type='checkbox', value='')
                                    | Brighton
                            li.checkbox.list-group-item
                                label
                                    input(type='checkbox', value='')
                                    | handmade
                            li.checkbox.list-group-item
                                label
                                    input(type='checkbox', value='')
                                    | Unbranded
                .panel.panel-default
                    .panel-heading
                        h2.panel-title
                            span.fa.fa-plus-square-o
                            | Price
                    .panel-body
                        ul.list-group
                            li.list-group-item
                                .radio
                                    label
                                        input(type='radio', name='optionsRadios')
                                        |                                     up to $10
                            li.list-group-item
                                .radio
                                    label
                                        input(type='radio', name='optionsRadios')
                                        |                                     $10 to $50
                            li.list-group-item
                                .radio
                                    label
                                        input(type='radio', name='optionsRadios')
                                        |                                     over $50



            .col-md-9
                .row
                    .well.well-sm
                        //p #{data.length}
                        - var d = data

                        strong Sort &nbsp;
                        //.btn-group(data-toggle='buttons')
                        //    label.btn.btn-success
                        //        input#option1(type='radio', name='options')
                        //        |  Low Price
                        //    label.btn.btn-success
                        //        input#option2(type='radio', name='options')
                        //        |  High Price
                        .btn-group
                            a#list.btn.btn-default.btn-sm(href='#')
                                | Low Price
                            a#grid.btn.btn-default.btn-sm(href='#')
                                | High Price


                    div(ng-animate="'animate'", ng-repeat='item in items | filter:searchText')
                        .item.col-xs-4.col-lg-4
                            .thumbnail
                                //image(src=val.img, alt='', style='height:250px')
                                image.group.list-group-image(ng-src="{{ item.img }}", alt='', style='height:250px')
                                //img.group.list-group-image(src=val.img, alt='', style='height:250px')
                                .caption.hideOverflow
                                    h4.group.inner.list-group-item-heading
                                        p {{ item.title }}
                                    .hideOverflow
                                        .group.hideOverflow(style='height:100px')
                                            p {{ item.description }}
                                        .row
                                            h4.col-xs-12.col-md-6
                                                | $ {{ item.price }}

                                            .col-xs-12.col-md-6
                                                .btn.btn-success(ng-click="addItem(item)")
                                                    | Add to cart

    script.
        console.log("testing");
        var local_data =!{JSON.stringify(data)};
        console.log(local_data);

    script(src='/js/app.js')



